body {
  font-family: sans-serif;
}
.header {
  background-color: green;
}
a {
  text-decoration: none;
}

label {
  display: block;
}
h1 {
  color: snow;
}
nav a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: snow;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart {
  display: flex;
  list-style-type: none;
}
.cart li {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
