* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  background-color: green;
  padding: 1rem;
}
a {
  text-decoration: none;
}

label {
  display: block;
}
h1 {
  color: snow;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navBar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.navBar a {
  color: snow;
  padding: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.cart li {
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.catalog li {
  list-style: none;
  border: 1px solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog li img,
.itemImage {
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px;
  padding: 2px;
  width: 150px;
}

.delete_btn {
  width: 1rem;
  height: 1rem;
}
